table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  min-height: 300px;
}

.td-centered {
  padding-top: 15px;
}

.pointer{
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px dashed gray;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.custom-file-upload mat-icon {
  display: block;
  padding-bottom: 5px;
}
